<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h1>Manage you Pg</h1>
<a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myLogin">login</a>
<a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myRegister">Register</a>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myRegister" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register here</h4>
                </div>
                <div class="modal-body">
                    <div class="form-container" id="myModal">
                            
                        <% if(locals.error) { %>
                                
                        <div class="alert alert-danger"><%= error %></div>
                            
                        <% } %>
                            
                        <form method="post" action="/signup">
                                    
                            <div class="form-group">
                                            <label for="firstName">User name</label>
                                            <input type="text" name="firstName" id="firstName" class="form-control"
                                                   value="<%= locals.firstName || '' %>" required/>
                                        
                            </div>
                                    
                            <div class="form-group">
                                            <label for="username">Email</label>
                                            <input type="text" name="username" id="username" class="form-control"
                                                   value="<%= locals.username || '' %>" required/>
                                        
                            </div>
                            <div class="form-group">
                                            <label for="mobile">Mobile</label>
                                            <input type="text" name="mobile" id="mobile" class="form-control"
                                                   value="<%= locals.username || '' %>" required/>
                                        
                            </div>
                                    
                            <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" id="password" class="form-control"
                                                   required/>
                                        
                            </div>
                            <div class="form-group">
                                           <label for="password">Gender</label>
                                <input type="radio" name="gender" value="male" checked> Male<br>
                                <input type="radio" name="gender" value="female"> Female<br>
                            </div>
                            <div class="form-group">
                                            <label for="password">City</label>
                                            <select>
                                    <option value="Banglore">Banglore</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div class="form-group">
                                                
                                    <button type="submit" class="btn btn-primary">Register</button>
                                                
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                                          
                                </div>

                                    
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myLogin" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login here</h4>
                </div>
                <div class="modal-body">
                    <div class="form-container" id="myModal">
                            
                        <% if(locals.error) { %>
                                
                        <div class="alert alert-danger"><%= error %></div>
                            
                        <% } %>
                            
                        <form method="post">
                                    

                            <div class="form-group">
                                            <label for="mobile">Mobile</label>
                                            <input type="text" name="login_mobile" id="login_mobile" class="form-control"
                                                   value="<%= locals.username || '' %>" required/>
                                        
                            </div>
                                    
                            <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" name="login_password" id="login_password" class="form-control"
                                                   required/>
                                        
                            </div>
                            <div class="form-group">
                                            
                                <button type="submit" class="btn btn-primary">Login</button>
                                            
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                                      
                            </div>

                                
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


</body>
</html>

